logs/
npm-debug.log
yarn-error.log
*.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
.github/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/

config/config.local.js
config/config.prod.js
config/config.unittest.js
upload/**
multipartTmp/**
.vscode
.travis.yml
appveyor.yml
