.container {
  .left-bar {
    position: fixed;
    padding: 0 20px;
    background: #30333c;
    color: #6b7386;
    box-sizing: border-box;
    flex-direction: column;
    height: 100vh;
    display: flex;
    width: 248px;
    transition: all 0.5s;
  }
  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    // -webkit-box-pack: center;
    // justify-content: center;
    margin-left: 248px;
    .iconfont {
      font-size: 18px;
      color: #000000;
    }
  }
}

// 左侧栏
.set-scroll {
  background-color: #494f5e;
  border-radius: 0;
  width: 4px;
}

.left-bar {
  .title {
    color: white;
    font-size: 18px;
    height: 50px;
    p {
      text-align: center;
    }
  }
  .nav {
    flex: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-bottom: 70px;
    .item {
      height: 48px;
      line-height: 46px;
      border-top: 2px solid hsla(0, 0%, 100%, 0.04);
      border-bottom: 2px solid hsla(0, 0%, 100%, 0.04);
    }
    > .active {
      position: relative;
      .line {
        position: absolute;
        right: 0px;
        height: 30px;
        width: 3px;
        background: #3a85ff;
        z-index: 100000;
        margin-top: 10px;
      }
    }
  }
  .nav-item {
    height: 90vh;
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
      @extend .set-scroll;
    }
    &::-webkit-scrollbar-thumb {
      @extend .set-scroll;
    }
    &::-webkit-scrollbar {
      @extend .set-scroll;
    }
    li {
      height: 32px;
      line-height: 32px;
      > .active,
      > .active i,
      &:hover a,
      &:hover i {
        color: #fff;
      }
      a {
        text-decoration: none;
        font-size: 12px;
        display: inline-block;
        width: 100%;
        color: #6b7386;
      }
    }
  }
}

.nav {
  .item {
    a {
      color: white;
    }
  }
}

// 右内容
.main {
  .box {
    overflow: hidden;
    margin: 20px 30px;
    background: #fff;
    padding-bottom: 20px;
    .sub-category {
      > div {
        padding: 12px 0 0 2.1%;
        font-size: 18px;
      }
    }
  }
}

// 页脚
.footer {
  line-height: 45px;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  left: 250px;
  right: 0;
  .copyright {
    margin-left: 30px;
    color: #949494;
    font-size: 12px;
    a {
      text-decoration: none;
      color: #3a85ff;
    }
  }
}

// 手机端菜单
#menu-box {
  display: none;
  width: 100%;
  background: #ffffff;
  text-align: right;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 1px 1px 8px #e0ddf;
  height: 50px;
  #menu {
    * {
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      box-sizing: border-box;
    }
    height: 50px;
    width: 40px;
    position: absolute;
    right: 10px;
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"]:checked ~ .menu-spin > .horizontal {
      opacity: 0;
    }
    input[type="checkbox"]:checked ~ .menu-spin > .line-1 {
      transform: rotate(405deg);
      -webkit-transform: rotate(405deg);
      margin-top: 10px;
    }
    input[type="checkbox"]:checked ~ .menu-spin > .line-2 {
      transform: rotate(-405deg);
      -webkit-transform: rotate(-405deg);
      margin-top: -10px;
    }
    label {
      cursor: pointer;
      position: absolute;
      z-index: 99;
      height: 100%;
      width: 100%;
      top: 10px;
      left: 0;
      .line {
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: #a2a2a2;
      }
      .horizontal {
        top: 10px;
      }
      .line-2 {
        top: 20px;
      }
    }
  }
}

// 导航源码下载
.download {
  a,
  i {
    color: #3668bd !important;
  }
}

#mainContent {
  padding-bottom: 50px;
}

@media screen and (max-width: 481px) {
  .container .box .item {
    width: 39%;
    min-width: 100px;
  }
  .container .main {
    margin-left: 0;
  }
  .container .left-bar {
    z-index: 999;
    left: -249px;
  }
  #menu-box {
    display: block;
  }
  .main .box {
    margin: 10px;
  }
  .footer {
    left: 0;
  }
  /deep/ .el-dialog {
    width: 95%;
  }
}

@media screen and (min-width: 481px) {
  .container .left-bar {
    left: 0;
  }
}

@media screen and (min-width: 482px) and (max-width: 789px) {
  .container .box .item {
    width: 90%;
  }
  .container .left-bar {
    left: 0px;
  }
}

@media screen and (min-width: 790px) and (max-width: 1039px) {
  .container .box .item {
    width: 43%;
  }
}

@media screen and (min-width: 1040px) and (max-width: 1920px) {
  .container .box .item {
    width: 20%;
  }
}
